<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </Console>
        <File name="LogFile" fileName="all_loginfo.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <!--<Logger name="org.apache.log4j.xml" level="debug"/>-->
        <Root level="info">
            <AppenderRef ref="LogFile"/>
        </Root>
        <Logger name="org.hibernate" level="info"/>
        <Logger name="org.hibernate.engine" level="debug"/>
        <Logger name="org.hibernate.hikaricp" level="debug"/>
        <Logger name="org.hibernate.SQL" level="debug"/>
        <Logger name="com.zaxxer.hikari" level="info"/>
        <!--<Logger name="org.hibernate.type" level="trace"/>-->
        <Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace"/>
    </Loggers>
</Configuration>